.App {
  display: flex;
  flex-direction: column;

  height: 100vh;
  text-align: left;



  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: white;
}

.TodosContainer{
  display: flex;
  flex-direction: column;
  width: clamp(40%, 900px, 100%);
}


